@model PagedList.IPagedList<SmokeFreeApplication.Models.Article>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />


<h2>Articles</h2>
@using (Html.BeginForm("Articles", "Article", FormMethod.Get, new { id = "searchForm" }))
{
    @Html.Partial("~/Views/Shared/_SearchBar.cshtml")

}
@if (!Model.Any())
{
    <br />
    <br />
    <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
        @ViewBag.DisplayStatus
    </div>
}
else
{
    <div class="container mt-2 ">
        <div class="card-columns">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("ViewArticle", "Article", new { id = item.articleID})" style="text-decoration: none;">

                    <div class="card maincard">
                        <img class="card-img viewimg" src="@Url.Action("retrieveArticlePic", "Article", new { articleID = item.articleID })" alt="Image" />
                        <div class="card-body">
                            <h5 class="card-title main-card-title">@Html.DisplayFor(modelItem => item.title)</h5>
                            <span class="card-text">
                                <div class="articleBody">@Html.Raw(item.body)</div>
                            </span>
                            <br/>
                            <footer class="articlefooter"> <a href="@Url.Action("ViewArticle", "Article", new { id = item.articleID })" style="text-decoration: none;">Read More</a></footer>
                        </div>

                    </div>
                </a>

            }
        </div>
    </div>
}
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Articles", new { page, option = ViewBag.option, search = ViewBag.search }))
@section Scripts
{
    <link href="~/Content/a-style.css" rel="stylesheet">
    <link href="~/Content/story-style.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/search.js"></script>
}


