@model SmokeFreeApplication.Models.Article

@{
    ViewBag.Title = "ViewArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p>
    @Html.ActionLink("Back to List", "Articles")
</p>

<table>
    <tr>
        <td colspan="2">
            <img src="@Url.Action("retrieveArticlePic", "Article", new { articleID = Model.articleID })" style="width:650px; height:350px;" alt="Image" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h2> @Html.DisplayFor(model => model.title)</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p class="font-weight-light">Posted By: @Html.DisplayFor(model => model.userName)</p>     
        </td>
        <td>
            <p class="font-weight-light">Date Posted: @Html.DisplayFor(model => model.postDate)</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @foreach (var tag in ViewBag.tagList)
            {
                <span class="badge badge-dark"> @Html.Raw(tag) </span>
            }
        </td> 
    </tr>
    <tr>
        <td colspan="2">
            <div>
                <p>@Html.DisplayFor(model => model.body)</p>
            </div>

        </td>
    </tr>
</table>




<h3>Comments</h3>
<div class="jumbotron" style="padding:10px">
    @Html.Action("CreateComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(Model.articleID, "S"))
</div>
<div id="accordion">
    @Html.Action("ViewComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(Model.articleID, "S"))
</div>
