@model SmokeFreeApplication.Models.Article

@{
    ViewBag.Title = "ViewArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="btnDiv"><a class="btn btn-outline-primary" href='javascript:history.go(-1)'>Back</a></div>

<table>
    <tr>
        <td colspan="2">
            <img src="@Url.Action("retrieveArticlePic", "Article", new { articleID = Model.articleID })" style="width:650px; height:350px;" alt="Image" id="articleImg" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <br />
            <h2> @Html.DisplayFor(model => model.title)</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p class="font-weight-light">Posted By: @Html.ActionLink(Model.userName, "DrProfile", "Doctor", new { viewUsername = Model.userName }, new { page = 1 })</p>
        </td>
        <td>
            <p class="font-weight-light">Date Posted: @Html.DisplayFor(model => model.postDate)</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div>
                @foreach (var tag in ViewBag.tagList)
                {
                    <span class="badge badge-dark"> @Html.Raw(tag) </span>
                }
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <br />
            <div>
                @Html.Raw(ViewBag.articleDetails)
            </div>

        </td>
    </tr>
</table>

<br />


<h3>Comments</h3>
<div class="jumbotron" style="padding:10px">
    @Html.Action("CreateComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(Model.articleID, "A"))
</div>
<div id="accordion">
    @Html.Action("ViewComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(Model.articleID, "A"))
</div>
@section Scripts
{
    <link href="~/Content/a-style.css" rel="stylesheet">
}