@model SmokeFreeApplication.Models.Story

@{
    ViewBag.Title = "CreateStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Create Story</h2>
@using (Html.BeginForm("CreateStory", "Story", FormMethod.Post, new { @id = "createForm" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <h5><strong style="color:red;">*</strong>Title: </h5>
        <div id="titleDiv">
            @Html.TextBoxFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
            <span id="titleVali" class="badge badge-danger">Please enter the story title that has at least 2 words!</span>
        </div>
    </div>

    <div class="form-group">
        <h5><strong style="color:red;">*</strong>Description: </h5>
        <div>
            @Html.TextAreaFor(model => model.body, new { htmlAttributes = new { @class = "form-control" } })
            <span id="bodyVali" class="badge badge-danger">Please enter the story description that has at least 500 characters!</span>
            <p style="text-align:left; display:inline;text-decoration:solid">Words Limit:</p>
            <p id="withinRange" style="text-align:right;display:inline;">1000</p>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_TagField.cshtml")
    <div class="form-group">
        <div>
            <button id="createBtn" type="submit" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-primary">@Html.ActionLink("Cancel", "Stories", null, new { @class = "cancelBtn" })</button>

        </div>
    </div>
}
@section Scripts
{
    <link href="~/Content/story-style.css" rel="stylesheet">
    <link href="~/Summernote/summernote-bs4.css" rel="stylesheet">
    <script type="text/javascript" src="~/Summernote/summernote-bs4.js"></script>
    <script type="text/javascript" src="~/Scripts/text-editor.js"></script>
    <script type="text/javascript" src="~/Scripts/story-validation.js"></script>
}
