@model PagedList.IPagedList<SmokeFreeApplication.Models.Story>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Stories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Stories</h2>

<div class="alert alert-dismissible alert-primary" style="display:none;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
</div>
<!--Search-->
@using (Html.BeginForm("Stories", "Story", FormMethod.Get, new { id = "searchForm" }))
{
    <b> Search By: </b>
    @Html.RadioButton("option", "Name", new { id = "nameRad", @required = "required" })<text>Name</text>
    @Html.RadioButton("option", "Tags", new { id = "tagRad" })<text> Tags </text>
    <br />
    <input name="search" id="searchBar" type="text" data-role="none" required" />
    <input type="button" onclick="this.form.submit();" value="Search" id="searchBtn" class="btn btn-default" />

}
<!-------->
<p>
    @Html.ActionLink("Create New", "CreateStory")
</p>
@foreach (var item in Model)
{
    <div class="card" style="width: 70rem;">
        <a href="@Url.Action("ViewStory", "Story", new { id = item.storyID})" style="text-decoration: none;">
            <div class="card-header">
                <img src="@Url.Action("retrieveUserPic", "Story", new { username = item.userName })" style="width:5rem; height:5rem; float:left;" alt="Image" />
                <div style="height:5rem; padding-top:30px; padding-left:100px;">
                    <h6 class="card-subtitle mb-2 text-muted">Posted on : @Html.DisplayFor(modelItem => item.postDate)</h6>
                    <h6 class="card-subtitle mb-2 text-muted">By : @Html.DisplayFor(modelItem => item.userName)</h6>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">@Html.DisplayFor(modelItem => item.title)</h3>
                <div class="card-text">@Html.Raw(item.body)</div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("ViewStory", "Story", new { id = item.storyID})" style="text-decoration: none;">Read More</a>
                <a href="#" class="card-link">Share</a>
            </div>
        </a>
    </div>


    <br />

}
<!---linking pager to search display-->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Stories", new { page, option = ViewBag.option, search = ViewBag.search }))

<!--Search script-->
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/search.js"></script>
}
<!------->