@model SmokeFreeApplication.Models.Story

@{
    ViewBag.Title = "ViewStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
</br>
<p>
    @Html.ActionLink("Back to List", "Stories")
</p>
<div class="mx-auto" style="width: 70rem;">
    <h3> @Html.DisplayFor(model => model.title)</h3>
    <p class="font-weight-light">@Html.DisplayFor(model => model.postDate)</p>
    <p class="font-weight-light">@Html.DisplayFor(model => model.userName)</p>
    <p>@Html.DisplayFor(model => model.body)</p>
</div>

<button type="button" class="btn btn-secondary">
    @Html.ActionLink("Post a comment", "CreateComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(Model.storyID, "S"), null)
</button>

<div class="jumbotron">
    @Html.Action("ViewComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(Model.storyID, "S"))
</div>