@model IEnumerable<SmokeFreeApplication.Models.Comment>

@{
    Layout = "";
    int n = Model.Count();
}

@if (n > 0)
{
    <div class="list-group">
        <ul>
            @foreach (var item in Model)
            {
                string cmtToDiv = "cmt" + item.commentID.ToString();
                string cmtToDataTarg = "#" + cmtToDiv;
                string cmtToDivModal = "modal_cmt" + item.commentID.ToString();
                string cmtToDataTargModal = "#" + cmtToDivModal;
                <li class="list-inline">
                    <br />
                    <div class="card" style="padding: 9px">
                        <div class="card-body" style="padding:10px">
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <h6>@Html.ActionLink(item.userName, "ViewAuthor", "Comments", new { username = item.userName, pg = 1 }, new { }) says</h6>
                                </div>
                                <div>
                                    <p class="text-muted">@Html.DisplayFor(modelItem => item.postDate)</p>
                                </div>
                            </div>
                            <hr />

                            @if (item.status == "visible")
                            {
                                <p class="card-text" style="margin-left:2rem;">
                                    @Html.DisplayFor(modelItem => item.body)
                                </p>
                                @*Button actions for comment card*@
                                <div class="d-flex">
                                    <button class="reply btn btn-primary collapsed mr-auto" data-toggle="collapse" data-target="@cmtToDataTarg" aria-expanded="false" aria-controls="collapseTwo">
                                        Reply
                                    </button>
                                    @if (Session["username"].ToString() == item.userName)
                                    {
                                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="@cmtToDataTargModal">
                                            Delete
                                        </button>
                                    }

                                </div>

                                @*Reply box*@
                                <div id="@cmtToDiv" class="collapse" data-parent="#accordion">
                                    <br />
                                    <div>
                                        @Html.Action("CreateComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(item.commentID, "C"))
                                    </div>
                                </div>
                            }
                            else if (item.status == "del")
                            {
                                <p class="card-text" style="margin-left:2rem;">
                                    This comment has been removed by the author.
                                </p>
                            }

                            @*Delete modal dialog*@
                            @Html.Action("Delete", "Comments", new { id = item.commentID })
                        </div>

                    </div>

                    @*Recursively load next comment*@
                    @Html.Action("ViewComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(item.commentID, "C"))
                </li>
            }
        </ul>
    </div>
}