@model SmokeFreeApplication.Models.Doctor


@{
    Layout = "";

}

<div class="card" style="width: 70rem;">

            <div class="card-header">
                <img src="@Url.Action("retrieveUserPic", "Admin", new { username = Model.userName })" style="width:5rem; height:5rem; float:left;" alt="Image" />
                <div style="height:5rem; padding-top:30px; padding-left:100px;">
                    <h6 class="card-subtitle mb-2 text-muted">Posted on : @Html.DisplayFor(modelItem => Model.doctorID)</h6>
                    <h6 class="card-subtitle mb-2 text-muted">By : @Html.DisplayFor(modelItem => Model.userName)</h6>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">@Html.DisplayFor(modelItem => Model.workLocation)</h3>
                <p class="card-text">@Html.DisplayFor(modelItem => Model.description)</p>
            </div>

        </a>
    </div>


    <br />



