@model SmokeFreeApplication.Models.Article

@{
    ViewBag.Title = "CreateArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Create an Article</h1>
<img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" width="150" height="155" alt="ProfileImage" style="float: left; margin-right: 15px;">

<h2>Tang Kok Kee</h2>
<p class="title">Doctor at </p>
<p class="title">NUH </p>
<p>Specialised in Lungs</p>
<br>

<form>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <p>Article Title: </p>
        <div class="col-sm-12">
            @Html.TextBoxFor(model => model.title, new { htmlAttributes = new { @class = "form-control" }, style = "width:300px;" })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Description: </p>
        <div class="col-sm-12">
            @Html.TextAreaFor(model => model.body, new { htmlAttributes = new { @class = "form-control" }, style = "width:100%; height:200px;" })
            @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" style = "background-color: #e7e7e7; color: black;"} />
        </div>
    </div>
</form>

