@model PagedList.IPagedList<SmokeFreeApplication.Models.Article>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "DrProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left: 5px;">
    <img src="@Url.Action("retrieveUserPic", "Doctor", new { username = ViewBag.username})" style="width:5rem; height:5rem; float:left; margin-right:10px;" alt="Image" />
    

    <div>
        <h3>@ViewBag.docName</h3>
        <p>Bio</p>
        <p class="title">Doctor at @ViewBag.workLocation</p>
        <p>@ViewBag.description</p>
    </div>


</div>

<div>
        @if (ViewBag.ownAccount == true)
        {
            <button class="btn btn-secondary">@Html.ActionLink("Create Article", "createArticle", "Article")</button>
        }

    
        @if (ViewBag.ownAccount == true)
        {
            <button class="btn btn-secondary">@Html.ActionLink("Edit Profile", "EditDrProfile", "Doctor")</button>
        }
</div>

<h2>Articles</h2>
@foreach (var item in Model)
{
    <div class="card" style="width: 70rem;">
        <a href="@Url.Action("ViewArticle", "Article", new { id = item.articleID})" style="text-decoration: none;">
            <div class="card-header">
                <img src="@Url.Action("retrieveUserPic", "Article", new { username = item.userName })" style="width:5rem; height:5rem; float:left;" alt="Image" />
                <div style="height:5rem; padding-top:30px; padding-left:100px;">
                    <h6 class="card-subtitle mb-2 text-muted">Posted on : @Html.DisplayFor(modelItem => item.postDate)</h6>
                    <h6 class="card-subtitle mb-2 text-muted">By : @Html.DisplayFor(modelItem => item.userName)</h6>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">@Html.DisplayFor(modelItem => item.title)</h3>
                <p class="card-text">@Html.Raw(item.body)</p>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("ViewArticle", "Article", new { id = item.articleID})" style="text-decoration: none;">Read More</a>
                <a href="#" class="card-link">Share</a>
            </div>
        </a>
    </div>


    <br />

}
<!---linking pager to search display-->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("DrProfile", new { page, option = ViewBag.option, search = ViewBag.search }))

<!--Search script-->
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/search.js"></script>
}

