@model PagedList.IPagedList<SmokeFreeApplication.Models.Article>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "DrProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function setApprovedTab() {
        var approvedTab = document.getElementById("approvedTag");
        approvedTab.style.backgroundColor = "#d9d9d9";

    }

    function showApprovedArticles() {
        var approved = document.getElementById("ApprovedArticles");
        var pending = document.getElementById("PendingArticles");
        var approvedTab = document.getElementById("approvedTab");
        var pendingTab = document.getElementById("pendingTab");

        if (approved.style.display === "none") {
            approved.style.display = "block";
            pending.style.display = "none";
            approvedTab.style.backgroundColor = "#d9d9d9";
            pendingTab.style.backgroundColor = "#ffffff";

        }
    }

    function showPendingArticles() {
        var approved = document.getElementById("ApprovedArticles");
        var pending = document.getElementById("PendingArticles");
        var approvedTab = document.getElementById("approvedTab");
        var pendingTab = document.getElementById("pendingTab");

        if (pending.style.display === "none") {
            pending.style.display = "block";
            approved.style.display = "none";
            approvedTab.style.backgroundColor = "#ffffff";
            pendingTab.style.backgroundColor = "#d9d9d9";
        }
    }
</script>


<div style="margin-left: 5px; margin-top: 20px">
    <table>
        <tr>
            <td>
                <img src="@Url.Action("retrieveUserPic", "Doctor", new { username = ViewBag.username})" style="width:150px; height:150px; float:left; margin-right:10px;" alt="Image" />
            </td>
            <td>
                <h3>@ViewBag.docName</h3>
                <p>Bio</p>
                <p class="title">Doctor at @ViewBag.workLocation</p>
                <p>@ViewBag.description</p>
            </td>
        </tr>
        <tr>
            <td>
                @if (ViewBag.ownAccount == true)
                {
                    <button class="btn btn-secondary">@Html.ActionLink("Create Article", "createArticle", "Article")</button>
                }
            </td>
            <td>
                @if (ViewBag.ownAccount == true)
                {
                    <button class="btn btn-secondary">@Html.ActionLink("Edit Profile", "EditDrProfile", "Doctor")</button>
                }
            </td>
        </tr>
    </table>
</div>


<h2>Articles</h2>

@if (ViewBag.ownAccount == true)
{
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            <button class="nav-link active" id ="approvedTab" style="background-color:#d9d9d9;" onload="setApprovedTab()" onclick="showApprovedArticles()">Approved Articles</button>
        </li>
        <li class="nav-item">
            <button class="nav-link active" id="pendingTab" onclick="showPendingArticles()">Pending Articles</button>

        </li>
    </ul>

}
else
{
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" onclick="showApprovedArticles()">Approved Articles</a>
        </li>
    </ul>

}


<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show">
        <div id="ApprovedArticles">
            @foreach (var item in Model)
            {
                if (item.articleStatus == "approved")
                {
                    <div class="card" style="width: 70rem;">
                        <a href="@Url.Action("ViewArticle", "Article", new { id = item.articleID })" style="text-decoration: none;">
                            <div class="card-header">
                                <div style="height:5rem; padding-top:30px; padding-left:100px;">
                                    <h6 class="card-subtitle mb-2 text-muted">Posted on : @Html.DisplayFor(modelItem => item.postDate)</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">By : @Html.DisplayFor(modelItem => item.userName)</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">@Html.DisplayFor(modelItem => item.title)</h3>
                                <p class="card-text">@Html.Raw(item.body)</p>
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("ViewArticle", "Article", new { id = item.articleID })" style="text-decoration: none;">Read More</a>
                                <a href="#" class="card-link">Share</a>
                                <p>@Html.DisplayFor(modelItem => item.articleStatus)</p>
                            </div>
                        </a>
                    </div>


                    <br />
                }

            }
        </div>
    </div>
    <div class="tab-pane fade active show">
        <div id="PendingArticles" style="display:none;">
            @foreach (var item in Model)
            {
                if (item.articleStatus == "pending")
                {
                    <div class="card" style="width: 70rem;">
                        <a href="@Url.Action("ViewArticle", "Article", new { id = item.articleID })" style="text-decoration: none;">
                            <div class="card-header">
                                <div style="height:5rem; padding-top:30px; padding-left:100px;">
                                    <h6 class="card-subtitle mb-2 text-muted">Posted on : @Html.DisplayFor(modelItem => item.postDate)</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">By : @Html.DisplayFor(modelItem => item.userName)</h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">@Html.DisplayFor(modelItem => item.title)</h3>
                                <p class="card-text">@Html.Raw(item.body)</p>
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("ViewArticle", "Article", new { id = item.articleID })" style="text-decoration: none;">Read More</a>
                                <a href="#" class="card-link">Share</a>
                                <p>@Html.DisplayFor(modelItem => item.articleStatus)</p>
                            </div>
                        </a>
                    </div>


                    <br />
                }

            }
        </div>
    </div>
</div>




    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("DrProfile", new { page, viewUsername = ViewBag.username, option = ViewBag.option, search = ViewBag.search }))

    <!--Search script-->
    @section Scripts
{
        <script type="text/javascript" src="~/Scripts/search.js"></script>
    }
