@model SmokeFreeApplication.Models.ProgressViewModel


@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href='~/Scripts/fullcalendar/main.css' rel='stylesheet' />
<!-- Create the circle class for the track progress display-->
<style>
    .circ {
        width: 240px;
        height: 240px;
        background-color: white;
        border: 11px solid #d1d1d1;
    }
</style>

<h3 style="padding-top:3%; padding-bottom:3%">@Html.DisplayFor(model => model.userName)'s Progress</h3>

<!--Calendar-->

<div id='calendar'></div>

<div class="d-flex justify-content-between" style="padding:5%">
    <div class="circ rounded-circle d-flex flex-column justify-content-center align-items-center">
        <h1>@Html.DisplayFor(model => model.streak) day</h1>
        <h5>current streak</h5>
    </div>
    <div class="circ rounded-circle d-flex flex-column justify-content-center align-items-center">
        <h1>@Html.DisplayFor(model => model.totalCheck) days</h1>
        <h5>smoke-free</h5>
    </div>
    <div class="circ rounded-circle d-flex flex-column justify-content-center align-items-center">
        <h1>@Html.DisplayFor(model => model.cigaSaved)</h1>
        <h5>Sticks avoided</h5>
    </div>
    <div class="circ rounded-circle d-flex flex-column justify-content-center align-items-center">
        <h1>$@Html.DisplayFor(model => model.cashSaved)</h1>
        <h5>saved</h5>
    </div>
</div>




<!-- Confirmation Modal -->
<div class="modal fade" id="CheckInModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Check in?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-footer">
                <form id="CheckInForm" method="post" action="/InterestedParty/CheckIn">
                    <div class="form-actions no-color">
                        <input id="ConfirmCheckIn" type="button" value="Confirm" class="btn btn-primary" />
                    </div>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src='~/Scripts/fullcalendar/main.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>
        var today = '@DateTime.Now.ToString("yyyy-MM-dd")';
        var validend = '@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")';
        var selectedDate = '';
        $(document).ready(function () {
            var events = [];
            // gets the checkin dates from the controller
            $.ajax({
                type: "GET",
                url: "/InterestedParty/GetUserCheckIn",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            start: v.startStr,
                            end: v.endStr,
                            color: v.color,
                            display: v.display,
                            allDay: v.allDay
                        });
                    })
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            // builds and style the calendar
            function GenerateCalender(events) {
               var calendarEl = document.getElementById('calendar');
               var calendar = new FullCalendar.Calendar(calendarEl, {
                   initialDate: today,
                   //selectable: true,
                   dayMaxEvents: true, // allow "more" link when too many events
                   events: events,

                   // styling
                   height: 370,
                   aspectRatio: 1,
                   headerToolbar: {
                       start: 'prev',
                       center: 'title',
                       end: 'today next'
                   },

                   // restricts checkins to the past and today
                   validRange: {
                       end: validend
                   },
                   // functions
                   dateClick: function (arg) {
                       //show confirmation popup
                       $('#CheckInModal').modal('show');
                       selectedDate = arg.dateStr;
                       calendar.unselect();
                   }
            });

            calendar.render();
            }

            // binding the form submit to the "confirm" button to let smoker cancel if they clicked the wrong date
            document.getElementById("ConfirmCheckIn").addEventListener("click", submitDate)
            function submitDate() {
                $.post({
                        url: '/InterestedParty/CheckIn',
                        data: {
                            checkInDate: selectedDate,
                            userName: '@Model.userName'
                        },
                        success: function (mydata) {

                            //alert("Saved");
                            // Refresh page
                            location.reload();
                        },
                        error: function (error) {
                            //alert('Failed');
                            //alert(error);
                        }
                });
            }

        })
    </script>
}