@model SmokeFreeApplication.Models.DocEntry
@{
    ViewBag.Title = "Testtitle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is a header</h2>
<h2>Model name is @Model.bio.name</h2>
<h2>Model gender is @Model.bio.gender</h2>
<h2>Model email is @Model.meta.email</h2>
<h2>Model password is @Model.meta.password</h2>
<h2>Model Location is @Model.docInfo.workLocation</h2>



